
RewriteEngine On
RewriteBase /

# assets folder
RewriteCond public/$1 -f
RewriteRule ^(.*)$ public/$1 [END,NC]

# everything else should go to `public/index.php`
RewriteRule ^(.*)$ public/index.php [END,NC]
