@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/*
Version: 1.0
Author: Tobiáš Smolný, Radim Semerák, Vojtěch Fošnár
*/

/***** globalni normalizace *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a {
  outline: none;
  text-decoration: none;
}

/***** kontejnery *****/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  padding-bottom: 2.5em;
  background-color: #333;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: 100%;
}

/* body > * {
  max-width: 1200px;
  padding: 0 2rem;
} */

/***** NAVBAR *****/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav > ul > li,
ul.dropdown > li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav > ul > li > a,
ul.dropdown > li > a {
  font-size: 1.25rem;
  padding: 0.75rem 0;
  color: #fff;
}

nav > ul > li > a::after,
ul.dropdown > li > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 50%;
  bottom: 0;
  background-color: #64b22d;
  transition: 0.35s;
}

nav > ul > li > a:hover::after,
ul.dropdown > li > a:hover::after {
  width: 100%;
  left: 0;
}

/* navbar styly pouze pro dropdown */
.dropdown {
  background: #222;
  visibility: hidden;
  opacity: 1;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul > li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.dropdown > li {
  clear: both;
  border-bottom: 1px solid #999;
  width: 100%;
  text-align: center;
}

/* TODO: aplikovat tenhle styl na všechny tlačítka? */
#submit {
  cursor: pointer;
  font-size: 1.05rem;
  width: 100%;
  height: 45px;
  font-weight: 600;
  padding: 7.5px 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: #64b22d;
  transition: 0.35s;
}

#submit:hover {
  color: #64b22d;
  background-color: #fff;
}
